##################################################
# Visual Studio
##################################################

.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

##################################################
# Build Results
##################################################

[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/

##################################################
# .NET
##################################################

*.cache
*.pdb
*.mdb
*.opendb
*.VC.db

##################################################
# Rider / ReSharper
##################################################

_ReSharper*/
*.DotSettings.user

##################################################
# VS Code
##################################################

.vscode/

##################################################
# Logs
##################################################

*.log

##################################################
# Temporary Files
##################################################

*.tmp
*.temp
*.bak

##################################################
# OS Files
##################################################

Thumbs.db
Desktop.ini
.DS_Store